apiVersion: v1
kind: Secret
metadata:
  name: myelga-secrets
  namespace: myelga
type: Opaque
stringData:
  mysql-database: {{ db_name }}
  mysql-root-password: {{ db_root_password }}
  mysql-username: {{ db_username }}
  mysql-password: {{ db_password }}
  mail-username: {{ mail_username }}
  mail-password: {{ mail_password }}
  jwt-secret: {{ jwt_secret }}